@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chirp";
  src: url("./public/chirp-regular-web.woff2") format("woff2");
  font-weight: 400;
}

/* Medium Weight */
@font-face {
  font-family: "Chirp";
  src: url("./public/chirp-medium-web.woff2") format("woff2");
  font-weight: 500;
}

/* Bold Weight */
@font-face {
  font-family: "Chirp";
  src: url("./public/chirp-bold-web.woff2") format("woff2");
  font-weight: 700;
}

/* Heavy Weight */
@font-face {
  font-family: "Chirp";
  src: url("./public/chirp-heavy-web.woff2") format("woff2");
  font-weight: 900;
}
